@media (max-width: 1382px) {
    .container {
        

    }

    .header-img .dotted {
          left: auto;
          right: 0;
          
    }


}

@media (max-width: 991px) {
    .header-container {
        flex-direction: column;
        align-items: center;
        padding-top: 60px;
        
    }

    .header-text {
        max-width: 528px;
        width: 100%;
        text-align: center;
    }
     
    .header-btn {
        padding-top: 15%;
        justify-content: center;
    }
    
 
    .header-img .couch {
        width: 100%;
        height: auto;
        

    }
}

@media (max-width: 768px) {
    .header-navigator ul li a {
        font-size: 16px;
        

    }

        .header-navigator ul {
            gap: 25px;
        }
}







    /* */

    @media (max-width:1024px) {
        .white-zone {
            flex-direction: column;
                align-items: center;  
        }

                .choise {
                    flex-direction: column;
                    align-items: center;
                }
            .chair {
                display: flex;
                flex-direction: column;
                align-items: center;;
            }

            .chair-text {
                padding-top: 80px ;
            }

            .recent-imgfirst > img{ 
                display: block;
                width: 100%;
            }
            .recent-imgsecond>img {
               display: block;
               width: 100%;
               }

              .recent-imgthree>img {
              display: block;
              width: 100%;
            }

        }




        

    @media (max-width: 768px) {
        .white-img {
            max-width: 50%;
            flex-direction: column;
        }
        
        .footer-divan {
            max-width: 40%;
        }
    }


@media (max-width: 726px) {
    .white-img {
        max-width: 50%;
    }
}


    @media (max-width: 425px) {
        .white-img {
            display: flex;
            flex-direction: column;
        }

     
    }


    

    @media (max-width: 425px) {
        .choise-img > .choisedivan {
            width: 90%;
            height: auto;
        }

        .fonar {
            display: none;
        }

        .stul {
            display: none;
        }

        .chair-dot {
         display: none;
         }

         .divan {
            display: block;
            margin: 0 auto;
         }

         .last-main {
            display: flex;
            flex-direction: column;
         }

  .header-navigator ul li a {
 font-size: 14px; }
                    
 .header-navigator ul {
    gap: 15px;
    }
                    
    .header-img {
    min-width: 100%;
 }
                    
    .header-img .dotted {
        width: 40%;
        top: 80px;
    }


  .header-footer-input {
    width: 100%;
  }

  .header-footer {
    display: flex;
    flex-direction: column;
  }

  .placeholder { 
    gap: 5px;
    display: flex;
    flex-direction: column;
  }
  .footer-divan {
    display: none;
  }

  .footer-main {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .right-text {
    width: 100%;
  }



    }

@media (max-width: 375px) {
    .header-navigator ul li a {
        font-size: 14px;


    }

    .header-navigator ul {
        gap: 12px;
    }


    .header-navigator ul li a {
        font-size: 14px;
    }

    .header-navigator ul {
        gap: 10px;
    }

    .header-img {
        min-width: 100%;
    }

    .header-img .dotted {
        width: 40%;
        top: 120px;
    }

}

